{% extends 'index.html.twig' %}

{% block header %}
    <link href="{{ asset('css/root.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/cart.css') }}" rel="stylesheet"/>
    {{ parent() }}

{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <p>my cart</p>
    </div>
    </body>
{% endblock %}