/*||||||ITEMS STYLES|||||*/


.contentHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    text-align: center;
    background-color: #218BC3;
    height: 300px;
}
.itemsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contentSorting {
    border: 2px solid yellow;
    width: 20%;
    height: 500px;
}
.contentItems {
    margin-left: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    width: 77.33%;
    height: auto;
    gap: 20px;
}
.item {
    width: 200px;
    height: 400px;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
}

.itemHero {
    width:100%;
}