/*||||||ITEMS STYLES|||||*/


.content_header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    background: #47B1C9;
    border-radius: 20px;
    margin-bottom: 30px;
}
.content_name_text{
    font-size: 35px;
    color:white;
    font-weight:600;
}

.content_sorting{

}
.category_name_list{
    display: flex;
    align-items: center;
    border-left: 2px solid #D1D1D1;
    padding-left:5px;
}
.category_name{
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
    color: #333;
    font-weight: 400;
    text-transform: lowercase;
}
.list_name{

    margin-bottom:15px;
    margin-top:0;
    border-radius: 10px;
    background: #4E30A6;
    padding-left: 25px;
    margin-left: 10px;

}
.list_name_text{
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding-top:5px;
    padding-bottom:5px;

}
.list_mark{
    text-align: center;
    width:15px;
}

.items_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content_sorting {
    width: 20%;
    height: auto;
}
.content_items {
    margin-left: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 77.33%;
    height: auto;
    gap: 20px;
    justify-content: start;
}
.item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;


}


.item_hero {
    width:100%;
}
.item_image{
    width: 100%;
    height: auto;
}
.item_name{

}
.item_name_text{
    text-decoration: none;
}
.item_image_content{
   width: 100%;
    height: auto;
}
.item_content{
    text-decoration: none;
    color:#636E72;
    font-weight: 400;
}