
/*||||||ROOT STYLES||||||*/

:root{
    --pink: #F4BBBB;
    --yellow: #F1E1A6;
    --light-green: #C3E5AE;
    --green: #97DBAE;
    --text: #2c3e50;
    --grey: #D1D1D1;

}
body{
    margin:0;
    font-size:20px;
    line-height:1.6;
    color:#333;
    font-family: 'Lato', sans-serif, bootstrap-icons;
}

:before,
:after{
    box-sizing:border-box;
}
h1,h2,h3,h4.h5,h6{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}





