
/*||||||SHOW STYLES|||||*/

.row{
    display: flex;

}

.item_image{
    width: 40%;
}
.image_content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_inf{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.item_name{
    border-top: 2px solid #D1D1D1;
    padding-top: 20px ;
    height: 48%;
    padding-left: 20px;
    font-size:25px
}
.item_name_text{
    font-weight: 400;
}

.add_review{
    border-top: 2px solid #D1D1D1;
    border-bottom: 2px solid #D1D1D1;
    height: 18%;
    margin-top: 25px;
    padding-left:20px;
    font-size: 25px;
    display: flex;
}

.review_button {
    width:240px;
    text-align: center;
    margin-top:15px;
    margin-bottom: 15px;
    border-radius: 200px;
    background-color: #47B1C9;
    color:white;

}
.review_link{
    text-decoration:none;
}

.review_text {
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;

}
.stars{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.star{
    max-height: 38px;
}

.price{
    height: 15%;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
}
.buy_now{

    height: 18%;
    padding: 20px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy_button{
    width:35%;
    align-content: center;
    border-radius: 200px;
    background-color: #47B1C9;
}
.buy_button_text{
    text-decoration:none;
    color:white;
    font-weight: 600;
    font-size:35px;

}

.details_name{
    border-top: 2px solid #D1D1D1;
    border-bottom: 2px solid #D1D1D1;
    border-right: 2px solid #D1D1D1;
    padding-left: 20px;
    width:30%;
    font-size:30px;
    font-weight:600;
}
.details_description{
    padding-left: 20px;
    border-top: 2px solid #D1D1D1;
    border-bottom: 2px solid #D1D1D1;
    width:70%;
    height: auto
;

}