
/*||||||SHOW STYLES|||||*/

:root{
    --pink: #F4BBBB;
    --yellow: #F1E1A6;
    --light-green: #C3E5AE;
    --green: #97DBAE;
    --text: #2c3e50;
    --grey: #D1D1D1;

}
.row{
    display: flex;

}

.item_image{
    width: 40%;
}
.image_content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_inf{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item_name{
    border-top: 2px solid #D1D1D1;
    padding-top: 20px ;
    height: 48%;
    padding-left: 20px;
    font-size:25px
}
.item_name_text{
    font-weight: 400;
}

.add_review{
    border-top: 2px solid #D1D1D1;
    border-bottom: 2px solid #D1D1D1;
    height: 18%;
    margin-top: 25px;
    padding-left:20px;
    font-size: 25px;
    display: flex;
}

.review_button {
    width:240px;
    text-align: center;
    margin-top:15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: var(--green);
    color:white;

}
.review_link{
    text-decoration:none;
}

.review_text {
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;

}
.stars{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.star{
    max-height: 38px;
}

.price{
    height: 15%;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
}

.add_cart_link{
    display: flex;
    justify-content: center;
    padding: 20px;

}
.add_cart_button{
    width:auto;
    border: none;
    background-color: var(--green);
    border-radius: 10px;
    font-size: 25px;
    color: white;

}


.details_name{
    border-top: 2px solid #D1D1D1;
    border-bottom: 2px solid #D1D1D1;
    border-right: 2px solid #D1D1D1;
    padding-left: 20px;
    width:30%;
    font-size:30px;
    font-weight:600;
}
.details_description{
    padding-left: 20px;
    border-top: 2px solid #D1D1D1;
    border-bottom: 2px solid #D1D1D1;
    width:70%;
    height: auto
;

}
label{
    display: block;
}

.comment_form{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-left:20px;
}
.form_name_text{
    font-size:30px;
    font-weight:600;
    margin-bottom: 20px;

}
.comment_input,
.rating_input,
.email_input{
    border: 2px solid #D1D1D1;
    border-radius:5px;
}

.comment_input{
    width:30%;
    height: 80px;
}

.form_rating{
    display: flex;
    margin-top:20px;
}
.comments_name{
    font-size: 30px;
    font-weight: 600;
}
.comments{
    padding-left: 20px;
}
.comment_email{
    font-size:15px;
    color:#636E72;
}
.comment_content{
    font-size:18px;
}
.rating_content{
    font-size:15px;
    color:#636E72;
}

