body{
    margin:0;
    font-size:20px;
    line-height:1.6;
    color:#333;
    font-family: 'Lato', sans-serif;
}

:before,
:after{
    box-sizing:border-box;
}
h1,h2,h3,h4.h5,h6{
    margin: 0;
}

.container{

    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    border:solid  red;
    height: 40em;
    display: flex;
    justify-content: center;
}
.container_inner{
    width: 25em;
    border: solid green;
    display: flex;
    justify-content: center;
}
.head{
    width: 6em;
    height: 6em;
    border: solid orange;
    margin-top:10em;
    
}