{% block head %}
  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ribeye&family=Righteous&display=swap" rel="stylesheet">
    <title>Homepage</title>
  </head>
{% endblock %}

{% block header %}
  <header class = "header">

    <div class = "container">

      <div class="header_inner">


        <div class="header_logo">
          <a href="/"><svg width="147" height="75" viewBox="0 0 147 75" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.0346 6.98567C14.0346 7.95803 13.8434 8.86643 13.461 9.71085C13.1041 10.5553 12.6069 11.2973 11.9696 11.9371C11.3322 12.5512 10.5801 13.0502 9.71332 13.434C8.87201 13.7922 7.96696 13.9713 6.99818 13.9713C6.0294 13.9713 5.1116 13.7922 4.2448 13.434C3.40349 13.0502 2.66415 12.5512 2.02679 11.9371C1.41493 11.2973 0.917794 10.5553 0.53538 9.71085C0.17846 8.86643 0 7.95803 0 6.98567C0 6.03889 0.17846 5.1433 0.53538 4.29887C0.917794 3.42886 1.41493 2.6868 2.02679 2.07267C2.66415 1.43296 3.40349 0.933982 4.2448 0.575742C5.1116 0.191914 6.0294 0 6.99818 0C7.96696 0 8.87201 0.191914 9.71332 0.575742C10.5801 0.933982 11.3322 1.43296 11.9696 2.07267C12.6069 2.6868 13.1041 3.42886 13.461 4.29887C13.8434 5.1433 14.0346 6.03889 14.0346 6.98567ZM12.2373 59.2631H1.72086V18.1551H12.2373V59.2631Z" fill="#39C59B"/>
              <path d="M44.36 59.2631H33.423V15.238H16.9409V4.22211H60.8038V15.238H44.36V59.2631Z" fill="#E2BD37"/>
              <path d="M105.087 38.3444C105.087 41.415 104.539 44.281 103.443 46.9422C102.347 49.5778 100.855 51.868 98.9688 53.8127C97.0822 55.7318 94.8642 57.2544 92.3148 58.3802C89.7908 59.4806 87.0757 60.0307 84.1694 60.0307C81.2885 60.0307 78.5734 59.4806 76.0239 58.3802C73.5 57.2544 71.282 55.7318 69.3699 53.8127C67.4834 51.868 65.9919 49.5778 64.8957 46.9422C63.7994 44.281 63.0898 41.415 63.0898 38.3444C63.0898 35.2226 63.7994 32.3311 64.8957 29.6699C65.9919 27.0087 60.5404 17.7499 62.427 15.8308C64.3391 13.886 73.5 19.3321 76.0239 18.2318C78.5734 17.1315 81.2885 16.3767 84.1694 16.3767C87.0757 16.3767 89.7908 17.1059 92.3148 18.1551C94.8642 19.1786 103.796 13.9116 105.682 15.8308C107.569 17.7243 102.347 26.7528 103.443 29.4396C104.539 32.1008 105.087 35.0691 105.087 38.3444ZM94.571 38.3444C94.571 36.6556 94.2906 35.1331 93.7297 33.7769C93.1943 32.3951 92.455 31.218 91.5117 30.2457C90.5684 29.2477 89.4594 28.4928 88.1847 27.9811C86.9355 27.4437 85.597 27.175 84.1694 27.175C82.7417 27.175 81.3905 27.4437 80.1158 27.9811C78.8665 28.4928 77.7703 29.2477 76.827 30.2457C75.9092 31.218 75.1826 32.3951 74.6472 33.7769C74.1119 35.1331 73.8442 36.6556 73.8442 38.3444C73.8442 39.9309 74.1119 41.4023 74.6472 42.7584C75.1826 44.1146 75.9092 45.2917 76.827 46.2897C77.7703 47.2876 78.8665 48.0809 80.1158 48.6694C81.3905 49.2323 82.7417 49.5138 84.1694 49.5138C85.597 49.5138 86.9355 49.2451 88.1847 48.7078C89.4594 48.1704 90.5684 47.4156 91.5117 46.4432C92.455 45.4708 93.1943 44.2938 93.7297 42.912C94.2906 41.5302 94.571 40.0077 94.571 38.3444Z" fill="#4E30A6"/>
              <path d="M120.728 74.9232V64.368L126.541 64.4447C127.561 64.4447 128.542 64.2784 129.485 63.9458C130.429 63.6131 131.296 63.1525 132.086 62.564C132.902 61.9754 133.616 61.2718 134.227 60.4529C134.839 59.6597 135.336 58.7897 135.719 57.8429C134.572 58.3291 133.399 58.8153 132.201 59.3014C131.028 59.7876 129.842 60.0307 128.644 60.0307C126.12 60.0307 123.749 59.5829 121.531 58.6873C119.313 57.7917 117.363 56.5251 115.68 54.8874C114.023 53.2242 112.71 51.2155 111.741 48.8613C110.798 46.4816 110.326 43.8204 110.326 40.8777V18.1551H120.728V40.8777C120.728 42.3362 120.932 43.6157 121.34 44.716C121.773 45.7907 122.347 46.6991 123.061 47.4411C123.775 48.1576 124.603 48.695 125.547 49.0532C126.515 49.4115 127.548 49.5906 128.644 49.5906C129.715 49.5906 130.722 49.3475 131.665 48.8613C132.634 48.3495 133.475 47.6842 134.189 46.8654C134.903 46.0466 135.464 45.1254 135.872 44.1018C136.28 43.0527 136.484 41.978 136.484 40.8777V18.1551H147V54.0814C146.975 56.9729 146.414 59.6853 145.317 62.2185C144.221 64.7518 142.717 66.9652 140.805 68.8588C138.918 70.7523 136.713 72.2492 134.189 73.3495C131.665 74.4498 128.963 75 126.082 75L120.728 74.9232Z" fill="#47B1C9"/>
            </svg>
          </a>
        </div>


        <nav class = "nav">
          <a class = "nav_link" href="/">Home</a>
          <div class="dropdown-category">
          <a class = "nav_link " href="/by-category">By category</a>
            <div class="dropdown-category-content">
                <a href="/by-category/action-figures">action figures</a>
                <a href="/by-category/baby-and-preschool-toys">baby and preschool toys</a>
                <a href="/by-category/bikes-and-scooters">bikes and scooters</a>
                <a href="/by-category/building-sets">building sets</a>
                <a href="/by-category/dolls-and-stuffed-animals">dolls and stuffed animals</a>
                <a href="/by-category/games-and-puzzles">games and puzzles</a>
                <a href="/by-category/arts-and-crafts">arts and crafts</a>
                <a href="/by-category/learning">learning</a>
                <a href="/by-category/outdoor-play">outdoor play</a>
                <a href="/by-category/pretend-play">pretend play</a>
                <a href="/by-category/steam-toys">steam toys</a>
                <a href="/by-category/remote-control-toys">remote control toys</a>
            </div>
          </div>
              <div class="dropdown-age">
              <a class = "nav_link " href="/by-age">By age</a>
                <div class="dropdown-age-content">
                  <a href="/by-age/0--24-months">0-24 months</a>
                  <a href="/by-age/3--4-years">3-4 years</a>
                  <a href="/by-age/5--7-years">5-7 years</a>
                  <a href="/by-age/8--10-years">8-10 years</a>
                  <a href="/by-age/11-years-and-up">11+ years</a>
                </div>
              </div>
          <a class = "nav_link" href="/hot-deals">Hot deals</a>
            <a class = "nav_link" href="/register">Registration</a>
            <a class = "nav_link" href="/login">Login</a>
        </nav>
      </div>
    </div>
  </header>
{% endblock %}

  {% block body %}
  <body>

  <div class = "intro">
    <div class = "container">

      <div class="main">
        <div class="main_inner">

        <a class = "main_slogan" href="#">Make your child's dream come true</a>
        </div>
      </div>

    </div>

  </div>

  </body>
</html>

{% endblock %}

{% block stylesheets %}
    <style>
    body{
    margin:0;
    font-size:20px;
    line-height:1.6;
    color:#333;
    font-family: 'Righteous', cursive;
    }

    :before,
    :after{
    box-sizing:border-box;
    }
    h1,h2,h3,h4.h5,h6{
    margin: 0;
    }


    .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    }

    .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    -webkit-background-size:  cover;
    background-size:cover;

    }

    .main_inner{
    font-family: 'Ribeye', cursive;
    width: 100%;
    max-width: 880px;

    }
    .main_slogan {
    color: #2c3e50;
    text-decoration: none;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    }



    /*HEADER*/
    .header{
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    }
    .header_inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    horiz-align: center;
    }
    .header_logo{
    margin: 10px 10px;
    display: inline-block;
    vertical-align: center;
    width: 100px;

    }

    /*NAVIGATION*/
    .nav{
     display:flex;
    font-size:14px;
    text-transform: uppercase;
    transition: color .2s linear;
    }
    .nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color:#2c3e50;
    text-decoration: none;
    position: relative;
    }
    .nav_link:after{
    content: "";
    display: block;
    width:100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #2c3e50;

    }
    .nav_link:hover{
    color: #2980b9;
    }


    /*ITEMS*/

    .intro_items{

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 70vh;

    -webkit-background-size:  cover;
    background-size:cover;
    }

    .items_inner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .intro_bar {
    background-color: #4E30A6;
    color: #FFFFFF;
    grid-area: 1 / 1 / 2 / 8;



    text-align: center;
    }
    .sorting_bar {
    border-style:solid;
    border-color: #47B1C9;
    grid-area: 2 / 1 / 8 / 3;
    }
    .items_bar {
    border-style:solid;
    border-color: #47B1C9;
    grid-area: 2 / 3 / 8 / 8;

    }

    .dropdown {
    float: left;
    overflow: hidden;
    }



    .dropdown-category-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown-category-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }

    .dropdown-category-content a:hover {
    background-color: #ddd;
    }


    .dropdown-category:hover .dropdown-category-content {
    display: block;
    min-height: 200px;}



    .dropdown-age-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-age-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-age-content a:hover {
        background-color: #ddd;
    }


    .dropdown-age:hover .dropdown-age-content {
        display: block;
        min-height: 200px;}


    .form_inner{
        margin-top:300px;
        font-size:25px;
    }

    </style>
{% endblock %}


