{% block head %}
  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ asset('css/root.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>


      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>{{ name }}</title>
  </head>
{% endblock %}

{% block header %}
    <header class = "header">
        <div class="container">
            <div class="header_inner">
              <div class="header_logo">
                <a href="/"><img class = "logo" src="{{ asset('images/logo.png') }}">
                </a>
              </div>
                <nav class = "nav">
                  <div class="nav_inner">
                  <a class = "nav_link" href="/"><p class = "nav_link_text">Home</p></a>
                  <div class="dropdown-category">
                    <a class = "nav_link " href="/by-category"><p class = "nav_link_text">By category</p></a>
                    <div class="dropdown-category-content">
                      <a href="/by-category/action-figures">action figures</a>
                      <a href="/by-category/baby-and-preschool-toys">baby and preschool toys</a>
                      <a href="/by-category/bikes-and-scooters">bikes and scooters</a>
                      <a href="/by-category/building-sets">building sets</a>
                      <a href="/by-category/dolls-and-stuffed-animals">dolls and stuffed animals</a>
                      <a href="/by-category/games-and-puzzles">games and puzzles</a>
                      <a href="/by-category/arts-and-crafts">arts and crafts</a>
                      <a href="/by-category/learning">learning</a>
                      <a href="/by-category/outdoor-play">outdoor play</a>
                      <a href="/by-category/pretend-play">pretend play</a>
                      <a href="/by-category/steam-toys">steam toys</a>
                      <a href="/by-category/remote-control-toys">remote control toys</a>
                    </div>
                  </div>
                  <div class="dropdown-age">
                    <a class = "nav_link " href="/by-age"><p class = "nav_link_text">By age</p></a>
                    <div class="dropdown-age-content">
                      <a href="/by-age/0--2-years">0-24 months</a>
                      <a href="/by-age/3--4-years">3-4 years</a>
                      <a href="/by-age/5--7-years">5-7 years</a>
                      <a href="/by-age/8--10-years">8-10 years</a>
                      <a href="/by-age/11-years-and-up">11+ years</a>
                    </div>
                  </div>

                  <a class = "nav_link" href="/hot-deals"><p class = "nav_link_text">Hot deals</p></a>


                  <div class="reg_nav">
                    <a class = "reg_link" href="/register"><p class = "nav_link_text">Sign Up</p></a>
                    <a class = "reg_link" href="/login"><p class = "nav_link_text">Log In</p></a>

                  </div>
                    <a class = "nav_link" href="/cart"><p class = "nav_link_text icon">&#xF180</p></a>
                  </div>

                </nav>
            </div>
        </div>
    </header>
      </div>
    </div>
  </header>
{% endblock %}

  {% block body %}
  <body>
  <div class = "intro">
    <div class = "container">

      <div class="main">
        <div class="main_inner" style="font-family: bootstrap-icons">



        <a class = "main_slogan" href="#"> Make your child's dream come true</a>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
{% endblock %}



