{% block head %}
  <!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
  <title>Homepage</title>
</head>

{% endblock %}g


{% block body %}
<body>

<header class = "header">

  <div class = "container">
    <div class="header_inner">
      <div class="header_logo">
        <a href="/"><img class="header_logo_image" src="https://cdn-icons-png.flaticon.com/512/3819/3819362.png"></a>
        <div class="header_logo">Peter Pan</div>
      </div>

      <nav class = "nav">
        <a class = "nav_link" href="/">Home</a>
        <a class = "nav_link" href="/shop_by_age">Shop by age</a>
        <a class = "nav_link" href="/shop_by_category">Shop by category</a>
        <a class = "nav_link" href="/contact">Contact</a>
        <a class = "nav_link" href="/registration">Registration</a>


      </nav>
    </div>
  </div>


</header>

<div class = "intro">
  <div class = "container">

    <div class="main">
      <div class="main_inner">

        <h1>Shop by category</h1>
      </div>
    </div>

  </div>

</div>

</body>
</html>

{% endblock %}

