{% block head %}
    <head>
        <link href="{{ asset('css/test.css') }}" rel="stylesheet"/>
        <title>Test</title>
    </head>
{% endblock %}

{% block body %}

<div class="container">
    <div class="container_inner">
        <div class="man">
            <div class="head">


            </div>

        </div>

    </div>

</div>

{% endblock %}

