<!doctype html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>

<div class="container">
    <div class="row">
    <div class="item_image"></div>
    <div class="item_inf">
        <div class="image_name">
            <h1>Name</h1>
        </div>
        <div class="add_review">
            <a href="#">Add review</a>
        </div>
        <div class="price">
            <p>123.45$</p>
        </div>
        <div class="buy_now_button">
            <a href="#">Buy now</a>
        </div>
    </div>
    </div>

</div>

</body>

<style>


    body{
        margin:0;
        font-size:20px;
        line-height:1.6;
        color:#333;
        font-family: 'Righteous', cursive;
    }
    :before,
    :after{
        box-sizing:border-box;
    }
    h1,h2,h3,h4.h5,h6{
        margin: 0;
    }

    .container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        height: auto;
        border: solid black;
    }
    .row{
        display: flex;
        border:solid red;
    }
    .item_image{
        width: 40%;
        border: solid green;
        height: 500px;
    }
    .item_inf{
        width: 60%;
        border: solid yellow;
        height:500px;
        display: flex;
        flex-direction: column;
    }
    .image_name{
        padding-top: 100px;
        border: solid teal;
        height: 48%;
    }
    .add_review{
        border: solid greenyellow;
        height: 18%;
    }
    .price{
        border: solid darkmagenta;
        height: 18%;
    }
    .buy_now_button{
        border: solid indigo;
        height: 18%;
    }


</style>
</html>